{% extends 'base.html' %}
{% block content %}
<section class="row">
    <section class="col-12">
    <h1>{{ _("Libre Captcha") }}</h1>

    <p>{{ _("This application is a test for generating and using CAPTCHAs.") }}</p>
    <p>{{ _("Actually, there are:") }}
    <ul>
        <li>{{ _("%d visual challenges availables." % g.visual_challenges) }}</li>
        <li>{{ _("%d audio challenges availables." % g.audio_challenges) }}</li>
    </ul>
    </p>

    <p>{{_("In order to use it, you have to subscribe and create a <b>key</b>. Then, you can modify your HTML form by adding a call to a javascript file and putting a specific div inside the form itself like this:")}}
    <ol>
        <li>{{_("Call the script before the form:")}}
        <pre>&lt;script src="{{g.host_url}}/librecaptcha.js" async defer&gt;&lt;/script&gt;</pre>
        </li>
        <li>{{_("Add the specific div where you want the Captcha appears with your <b>public key</b>:")}}
        <pre>&lt;div class="librecaptcha" data-sitekey="your_public_key"&gt;&lt;/div&gt;</pre>
        </li>
        <li>{{_("Server side, you have to verify the user's answer to know what to do next using your <b>private key</b>.")}}</li>
        <li>{{_("Et voilà! Nothing more to do, your new LibreCaptcha is now available!")}}</li>
    </ol>
    </p>
    </section>
</section>
{% endblock %}
